[package]
name = "inspect-cert-chain"
version = "0.0.9"
description = "OpenSSL-like text output for debugging certificate chains"
authors = ["Rob Ede <robjtede@icloud.com>"]
keywords = ["inspect", "cert", "chain", "openssl", "x509"]
repository = "https://github.com/robjtede/inspect-cert-chain"
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.68"

[dependencies]
byteorder = "1"
chrono = { version = "0.4.31", features = ["serde"] }
clap = { version = "4", features = ["derive"] }
color-eyre = "0.6"
const-oid = { version = "0.9", features = ["std", "db"] }
ct-sct = "0.1"
der = { version = "0.7", features = ["std"] }
env_logger = "0.10"
error_reporter = "1"
eyre = "0.6"
hex = "0.4"
itertools = "0.11"
memchr = "2.6"
pkcs1 = { version = "0.7", features = ["std"] }
rustls = { version = "0.21", features = ["dangerous_configuration"] }
rustls-pemfile = "1"
tracing = { version = "0.1.30", features = ["log", "release_max_level_debug"] }
webpki-roots = "0.25"
x509-cert = "0.2"
