name: CI

on:
  pull_request: { types: [opened, synchronize, reopened, ready_for_review] }
  push: { branches: [main] }

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        # prettier-ignore
        target:
          - { name: Linux, os: ubuntu-latest, triple: x86_64-unknown-linux-gnu }
          - { name: macOS, os: macos-latest, triple: x86_64-apple-darwin }
          - { name: Windows, os: windows-latest, triple: x86_64-pc-windows-msvc }
        version:
          - { name: stable, version: stable }
          - { name: beta, version: beta }

    name: Test (${{ matrix.target.name }} / ${{ matrix.version.name }})
    runs-on: ${{ matrix.target.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install nasm
        if: matrix.target.os == 'windows-latest'
        uses: ilammy/setup-nasm@v1.5.2

      - name: Install Rust (${{ matrix.version.version }})
        uses: actions-rust-lang/setup-rust-toolchain@v1.13.0
        with:
          toolchain: ${{ matrix.version.version }}

      - name: Install just, nextest
        uses: taiki-e/install-action@v2.62.49
        with:
          tool: just,nextest

      - name: Test
        run: just test

      - name: Install cargo-ci-cache-clean
        uses: taiki-e/install-action@v2.62.49
        with:
          tool: cargo-ci-cache-clean

      - name: CI cache clean
        run: cargo-ci-cache-clean
