name: CI

on:
  pull_request: {}
  push: { branches: [main] }

permissions:
  contents: read

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        # prettier-ignore
        target:
          - { name: Linux, os: ubuntu-latest, triple: x86_64-unknown-linux-gnu }
          - { name: macOS, os: macos-latest, triple: x86_64-apple-darwin }
          - { name: Windows, os: windows-latest, triple: x86_64-pc-windows-msvc }
        version:
          - { name: stable, version: stable }
          - { name: beta, version: beta }

    name: Test (${{ matrix.target.name }} / ${{ matrix.version.name }})
    runs-on: ${{ matrix.target.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust (${{ matrix.version.version }})
        uses: actions-rust-lang/setup-rust-toolchain@v1.5.0
        with:
          toolchain: ${{ matrix.version.version }}

      - name: Install cargo-hack
        uses: taiki-e/install-action@v2.20.2
        with:
          tool: just

      - name: Test
        run: just test
